---
items:
  - /about/
  - /docs/tutorial/
---

<?xml version="1.0" encoding="UTF-8"?>
<book xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.0" lang="en">
	<info>
		<date>v1.0</date>
		<author>
			<personname>
				<firstname>Denis</firstname>
				<surname>Defreyne</surname>
			</personname>
		</author>
	</info>
<% @item[:items].each do |i| %>
	<chapter>
		<title><%=h @items[i][:title] %></title>
		<%= @items[i].compiled_content(rep: :docbook_partial) %>
	</chapter>
<% end %>
</book>
